/**
 * @author jun.yj
 * @since 2015/8/5
 */

.mod-carousel {
    position: relative;
    width: 100%;
    height: 1rem;
}
.mod-carousel ul,
.mod-carousel li,
.mod-carousel img {
    width: 100%;
    height: 100%;
}
.mod-carousel img {
    border: 0;
    vertical-align: middle;
}
.mod-carousel ul {
    position: relative;
}
.mod-carousel li {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: left .5s;
            transition: left .5s;
}
.mod-carousel li:nth-child(n+2) {
    left: 100%;
}

.mod-carousel > div {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.mod-carousel .dot {
    display: inline-block;
    width: 0.06rem;
    height: 0.06rem;
    margin: 0.01rem;
    overflow: hidden;
    vertical-align: middle;
    background-color: #e0e0e0;
    -webkit-border-radius: 100%;
            border-radius: 100%;
    -webkit-box-shadow: 0 0 0.08rem rgba(0,0,0,.4);
            box-shadow: 0 0 0.08rem rgba(0,0,0,.4);
}
.mod-carousel .curr {
    background-color: #fff;
}
