/**
 * @author jun.yj
 * @since 2015/8/5
 */

.mod-list {
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    padding: 0 0 0 0.2rem;
    background-color: #fff;
}
.mod-list > li {
    padding: 0.15rem 0;
    border-top: 1px solid #d8d8d8;
}
.mod-list > li:first-child {
    border-top: 0;
}
.mod-list > li > div {
    float: left;
}
.mod-list .img {
    width: 0.52rem;
    height: 0.52rem;
    line-height: 0.52rem;
    text-align: center;
    margin-right: 0.2rem;
    background-color: #ccc;
    border-radius: 100%;
}
.mod-list .detail {
    margin-top: 0.06rem;
}
.mod-list .detail span {
    display: inline-block;
}
.mod-list .detail .name {
    width: 0.8rem;
}
.mod-list .detail .code {
    width: 0.8rem;
}
.mod-list .detail .uname {
    margin-right: 0.2rem;
}
.mod-list .arrow-right {
    float: right;
    margin-right: 0.1rem;
    margin-top: 0.15rem;
    color: #ccc;
}

/* sample
 * ======================= */
.mod-list-sample {
    margin: 0.1rem 0;
}
.mod-list-sample li {
    margin-left: 0.4rem;
}
.mod-list-sample a {
    display: block;
    line-height: 0.22rem;
}
.mod-list-sample img {
    float: left;
    margin-left: -0.4rem;
}
.mod-list-sample .iconfont {
    float: right;
    margin-right: 0.1rem;
    color: #ccc;
}

/* sample
 * ======================= */
.mod-list-std {
    margin: 0.1rem 0;
    padding-right: 0.2rem;
}
.mod-list-std > li > .right {
    float: right;
}
.mod-list-std .title h3 {
    display: inline-block;
}
.mod-list-std .title h3:first-child {
    min-width: 1.2rem;
}
.mod-list-std p span {
    display: inline-block;
}
.mod-list-std p span:first-child {
    width: 1.2rem;
}
.mod-list-std .status {
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    margin-top: 0.1rem;
    line-height: 0.5rem;
    text-align: center;
    background-color: #eaebed;
    -webkit-border-radius: 0.05rem;
       -moz-border-radius: 0.05rem;
            border-radius: 0.05rem;
}
.mod-list-std .normal span {
    display: inline-block;
    width: 0.3rem;
    line-height: 1;
    word-break: break-all;
    font-size: 0.12rem;
    vertical-align: middle;
}
.mod-list-std .revoke {
    color: #fff;
    background-color: #6b8a6b;
}
.mod-list-std .sold {
    color: #fff;
    background-color: #4471bc;
}
.mod-list-std .action {
    text-align: center;
}
