/**
 * @author jun.yj
 * @since 2015/8/5
 */

.msgbox {
    position: fixed;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.msgbox > .content {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 80%;
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
    background-color: #fff;
    border-radius: 0.1rem;
    -webkit-box-shadow: 0 0 0.05rem rgba(0,0,0,.4);
    box-shadow: 0 0 0.05rem rgba(0,0,0,.4);
}
.msgbox .main {
    padding: 0.25rem;
    text-align: center;
}
.msgbox .action {
    border-top: 1px solid #e5e5e5;
    text-align: center;
}

.msgbox-info .action .button {
    border: 0;
    width: 100%;
    border-radius: 0.1rem;
}

.msgbox-confirm .action > div {
    width: 50%;
}
.msgbox-confirm .action .button {
    width: 100%;
    border: 0;
    border-right: 0.01rem solid #e5e5e5;
    border-radius: 0;
}
.msgbox-confirm .action .ok {
    border-bottom-left-radius: 0.1rem;
}
.msgbox-confirm .action .no {
    border-bottom-right-radius: 0.1rem;
}

.msgbox-options .main {
    padding: 0;
}
.msgbox-options .main li {
    padding: 0.08rem 0 0.07rem 0;
    border-top: 0.01rem solid #e5e5e5;
}
.msgbox-options .main li:first-child {
    border-top: 0;
}

.msgbox-slide-options {
    display: block;
}
.msgbox-slide-options > .content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0;
    transform: translateY(5rem);
    transition: transform .3s;
}
.msgbox-slide-options .main {
    padding: 0;
}
.msgbox-slide-options .main li {
    padding: 0.08rem 0 0.07rem 0;
    border-top: 0.01rem solid #e5e5e5;
}
.msgbox-slide-options .main li:first-child {
    border-top: 0;
}
.msgbox-slide-options .slide-in {
    transform: translateY(0);
}
