/**
 * @author jun.yj
 * @since 2015/8/5
 */

.mod-table {
    border: 0.01rem solid #f0f0f0;
    width: 100%;
}
.mod-table th,
.mod-table td {
    padding: 0.04rem 0.03rem 0.03rem 0.03rem;
    border: 0.01rem solid #f0f0f0;
    text-align: center;
    font-weight: normal;
}
