/**
 * @author jun.yj
 * @since 2015/8/5
 */

.mod-tab-switcher {
    text-align: center;
}
.mod-tab-switcher span {
    display: inline-block;
    width: 1rem;
    height: 0.3rem;
    line-height: 0.28rem;
    text-align: center;
    border: 1px solid #4471bc;
    background-color: #fff;
}
.mod-tab-switcher span:first-child {
    border-right: 0;
    border-top-left-radius: 0.06rem;
    border-bottom-left-radius: 0.06rem;
}
.mod-tab-switcher span:last-child {
    border-left: 0;
    border-top-right-radius: 0.06rem;
    border-bottom-right-radius: 0.06rem;
}
.mod-tab-switcher .curr {
    color: #fff;
    background-color: #4471bc;
}

.mod-tab-sample {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    height: 0.5rem;
    border-bottom: 1px solid #d8d8d8;
    background-color: #f8f8f8;
}
.mod-tab-sample li {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    text-align: center;
}
.mod-tab-sample li span {
    display: inline-block;
    height: 0.49rem;
    line-height: 0.49rem;
    border-bottom: 0.03rem solid #f8f8f8;
}
.mod-tab-sample li .curr {
    border-bottom-color: #4471bc;
}
