/**
 * @author jun.yj
 * @since 2015/8/5
 */

.mod-tab-switcher {
    text-align: center;
}
.mod-tab-switcher span {
    display: inline-block;
    padding: 0.05rem 0.1rem 0.05rem 0.1rem;
    border: 0.01rem solid #4471bc;
    line-height: 1;
    text-align: center;
    color: #4471bc;
    background-color: #fff;
    vertical-align: middle;
}
.mod-tab-switcher span:first-child {
    border-right: 0;
    border-top-left-radius: 0.06rem;
    border-bottom-left-radius: 0.06rem;
}
.mod-tab-switcher span:last-child {
    border-left: 0;
    border-top-right-radius: 0.06rem;
    border-bottom-right-radius: 0.06rem;
}
.mod-tab-switcher .curr {
    color: #fff;
    background-color: #4471bc;
}

.mod-tab-sample {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    height: 0.5rem;
    border-bottom: 1px solid #ddd;
    background-color: #eee;
}
.mod-tab-sample li {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    text-align: center;
}
.mod-tab-sample li > span {
    display: inline-block;
    min-width: 0.6rem;
    height: 0.49rem;
    line-height: 0.49rem;
    border-bottom: 0.03rem solid #eee;
}
.mod-tab-sample li > .curr {
    border-bottom-color: #4471bc;
}

.mod-tab-calendar {
    display: inline-block;
    border: 0.01rem solid #fff;
    border-radius: 0.05rem;
    line-height: 1;
    vertical-align: middle;
}
.mod-tab-calendar span {
    display: inline-block;
    padding: 0.03rem 0.05rem 0.03rem 0.05rem;
    border-left: 0.01rem solid #fff;
}
.mod-tab-calendar span:first-child {
    border-left: 0;
    border-top-left-radius: 0.03rem;
    border-bottom-left-radius: 0.03rem;
}
.mod-tab-calendar span:last-child {
    border-top-right-radius: 0.03rem;
    border-bottom-right-radius: 0.03rem;
}
.mod-tab-calendar .curr {
    color: #4471bc;
    background-color: #fff;
}

.mod-tab-min {
    margin: 0;
}
.mod-tab-min li {
    float: left;
    margin-left: 0.2rem;
    padding: 0 0.05rem 0.07rem 0.05rem;
    border-bottom: 0.03rem solid #fff;
}
.mod-tab-min .curr {
    border-bottom-color: #4471bc;
}
