/**
 * @fileview 表单
 * @author 若何
 * @date 2015/1/20
 */

.header {
	color: #fff;
	height: 2.75rem;
	line-height: 2.75rem;
}
.header a {
	color: #fff;
}
.header > h3 {
	text-align: center;
}
.header > .actions {
	margin-top: -2.75rem;
	padding: 0 0.78125rem;
}
.header > .actions .ellipsis {
	float: right;
	text-indent: -9999px;
	margin-top: 1.25rem;
}