/**
 * @author jun.yj
 * @since 2015/8/5
 */

.main-mine .accounts {
    margin: 0.1rem 0;
    border: 0.01rem solid #ddd;
    background-color: #fff;
}
.main-mine .accounts .user a {
    display: block;
    padding: 0.15rem 0;
    margin-left: 0.2rem;
    border-bottom: 0.01rem solid #ddd;
}
.main-mine .accounts .user img {
    margin-right: 0.15rem;
    vertical-align: middle;
}
.main-mine .accounts .iconfont {
    float: right;
    margin-right: 0.1rem;
    color: #ccc;
}
.main-mine .accounts .summary {
    margin-top: 0.15rem;
}
.main-mine .accounts dl:first-child {
    float: left;
    margin-left: 0.2rem;
}
.main-mine .accounts dl:last-child {
    float: right;
    margin-right: 0.2rem;
    text-align: right;
}
.main-mine .accounts .summary strong {
    font-size: 0.18rem;
    font-style: normal;
    font-weight: normal;
}

.main-mine .accounts .action {
    margin: 0.15rem 0 0.2rem 0;
    text-align: center;
}
.main-mine .accounts .action > div {
    width: 50%;
}
.main-mine .accounts .action > div:first-child {
    padding: 0 0.1rem 0 0.2rem;
}
.main-mine .accounts .action > div:last-child {
    padding: 0 0.2rem 0 0.1rem;
}
.main-mine .accounts .action .button {
    width: 100%;
}
.main-mine .accounts .action .left .button:first-child {
    background-color: #4471bc;
}
