/**
 * @author jun.yj
 * @since 2015/8/5
 */

.main-mine .accounts {
    margin: 0.1rem 0;
    border: 0.01rem solid #d8d8d8;
    background-color: #fff;
}
.main-mine .accounts .user a {
    display: block;
    padding: 0.15rem 0;
    margin-left: 0.2rem;
    border-bottom: 0.01rem solid #d8d8d8;
}
.main-mine .accounts .user img {
    margin-right: 0.15rem;
    vertical-align: middle;
}
.main-mine .accounts .iconfont {
    float: right;
    margin-right: 0.1rem;
    color: #ccc;
}
