/**
 * @author jun.yj
 * @since 2015/8/5
 */

.main-mine-spread article.spread,
.main-mine-spread article.history,
.main-mine-spread article.users {
    display: none;
}

.main-mine-spread .summary .right {
    text-align: right;
}
.main-mine-spread .summary p {
    text-align: center;
}
.main-mine-spread .summary .button {
    width: 0.8rem;
    margin-top: 0.1rem;
}
.main-mine-spread .summary img {
    height: 0.32rem;
    margin-top: 0.14rem;
}

.main-mine-spread .share h3,
.main-mine-spread .share p {
    margin-bottom: 0.1rem;
}

.main-mine-spread .make-money h3 {
    margin-bottom: 0.1rem;
}
.main-mine-spread .make-money p {
    margin-bottom: 0.3rem;
}
.main-mine-spread .make-money figure {
    text-align: center;
}
.main-mine-spread .make-money img {
    width: 100%;
}

.main-mine-spread .level h3 {
    margin-bottom: 0.1rem;
}

.main-mine-spread .users .th {
    height: 0.5rem;
    line-height: 0.5rem;
    padding: 0 0.2rem;
    background-color: #fff;
}
.main-mine-spread .users .th .left:first-child {
    width: 1.5rem;
}
.main-mine-spread .users .mod-list .left:first-child {
    width: 1.5rem;
}
.main-mine-spread .users li {
    padding-right: 0.2rem;
}
.main-mine-spread .users .action {
    margin: 0.2rem;
}
.main-mine-spread .users .action .button {
    width: 100%;
}

.main-mine-spread .tab-spread .mod-tab-sample .spread,
.main-mine-spread .tab-history .mod-tab-sample .history,
.main-mine-spread .tab-users .mod-tab-sample .users {
    border-bottom-color: #4471bc;
}
.main-mine-spread .tab-spread article.spread,
.main-mine-spread .tab-history article.history,
.main-mine-spread .tab-users article.users {
    display: block;
}