/**
 * @author jun.yj
 * @since 2015/8/5
 */

.main-mine-spread .summary .right {
    text-align: right;
}
.main-mine-spread .summary p {
    text-align: center;
}
.main-mine-spread .summary .button {
    width: 0.8rem;
    margin-top: 0.1rem;
}
.main-mine-spread .summary img {
    height: 0.32rem;
    margin-top: 0.14rem;
}

.main-mine-spread .share h3,
.main-mine-spread .share p {
    margin-bottom: 0.1rem;
}

.main-mine-spread .make-money h3 {
    margin-bottom: 0.1rem;
}
.main-mine-spread .make-money p {
    margin-bottom: 0.3rem;
}
.main-mine-spread .make-money figure {
    text-align: center;
}
.main-mine-spread .make-money img {
    width: 100%;
}

.main-mine-spread .level h3 {
    margin-bottom: 0.1rem;
}
