/**
 * @author jun.yj
 * @since 2015/8/5
 */

.main-mine-trade {

}
.main-mine-trade .summary {
    height: 0.5rem;
    line-height: 0.5rem;
    text-align: center;
    border-bottom: 1px solid #d8d8d8;
    background-color: #eee;
}
.main-mine-trade .more {
    margin: 0.1rem 0.2rem;
}
.main-mine-trade .more .button {
    width: 100%;
}

.mod-list-std .button-lesser {
    color: #4471bc;
}
