/**
 * @author jun.yj
 * @date 2015/8/4
 */

.bg01 {
    background: transparent url(../../img/bg/01.jpg) no-repeat fixed 0 0;
    background-size: cover;
}
.bg02 {
    background: transparent url(../../img/bg/02.jpg) no-repeat fixed 0 0;
    background-size: cover;
}
.bg03 {
    background: transparent url(../../img/bg/03.jpg) no-repeat fixed 0 0;
    background-size: cover;
}
