/**
 * @author jun.yj
 * @date 2015/8/4
 */

.button {
    display: block;
    width: 100%;
    height: 0.46rem;
    line-height: 0.46rem;
    padding: 0 0.1rem;
    color: #fff;
    text-align: center;
    background-color: #f44236;
    border-radius: 0.06rem;
    font-size: 0.16rem;
}
.button-stress {
    color: #fff;
    background-color: #06a5df;
}
.button-important {
    color: #fff;
    background-color: #ff7300;
}
.button-lesser {
    color: #888;
    border-color: #ddd;
}
.button-disabled {
    color: #aaa!important;
    background-color: #ddd!important;
}

.button-findback {
    display: inline-block;
    height: 0.32rem;
    line-height: 0.32rem;
    padding: 0 0.1rem;
    vertical-align: middle;
    color: #b8b8b8;
    border-radius: 0.06rem;
    background-color: #fff;
}

.button-smscode {
    display: inline-block;
    height: 0.32rem;
    line-height: 0.32rem;
    padding: 0 0.1rem;
    vertical-align: middle;
    color: #fff;
    border-radius: 0.06rem;
    background-color: #f44236;
}

.button-search {
    background-color: #5bb4da;
}

.action {
    padding: 0 0.2rem;
}