/**
 * @author jun.yj
 * @date 2015/8/4
 */

.page-footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
	height: 0.6rem;
    border-top: 0.01rem solid #d8d8d8;
}
.page-footer .content {
    height: 100%;
    background-color: #f5f6f8;
}
.page-footer ul {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
}
.page-footer li {
    text-align: center;
    -webkit-box-flex: 1;
        -webkit-flex: 1;
                flex: 1;
}
.page-footer .img {
    margin-bottom: 0.05rem;
    color: #ccc;
    font-size: 0.24rem;
}
.page-footer a {
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
}
.page-footer a span {
    display: block;
    color: #aaa;
}

.page-reception .page-footer .reception span,
.page-management .page-footer .management span,
.page-order .page-footer .order span,
.page-more .page-footer .more span,
.page-reservation .page-footer .reservation span,
.page-repair .page-footer .repair span,
.page-business .page-footer .business span {
    color: #1e83d1;
}

.action {
    padding: 0 0.2rem;
}
.action-fixed {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 0.6rem;
    padding: 0 0.2rem;
    border-top: 0.01rem solid #d8d8d8;
    background-color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.action-cloum {
    padding: 0 0.2rem;
}
.action-cloum .button {
    display: inline-block;
    width: 46.5%;
}
.action-cloum .button:first-child {
    margin-right: 0.15rem;
}