/**
 * @author jun.yj
 * @date 2015/8/4
 */

.icon-arrow-left {
    width: 0.34rem;
    height: 0.25rem;
    background: transparent url(../../img/icon/01.png) no-repeat scroll 0 0;
    background-size: contain;
}
.icon-logo {
    width: 0.93rem;
    background: transparent url(../../img/logo/01.png) no-repeat scroll 0 0;
    background-size: contain;
}
.icon-name {
    display: inline-block;
    width: 0.23rem;
    height: 0.23rem;
    vertical-align: middle;
    background: transparent url(../../img/icon/03.png) no-repeat scroll 0 0;
    background-size: contain;
}
.icon-pass {
    display: inline-block;
    width: 0.23rem;
    height: 0.23rem;
    vertical-align: middle;
    background: transparent url(../../img/icon/02.png) no-repeat scroll 0 0;
    background-size: contain;
}
.icon-mobile {
    display: inline-block;
    width: 0.17rem;
    height: 0.25rem;
    vertical-align: middle;
    background: transparent url(../../img/icon/04.png) no-repeat scroll 0 0;
    background-size: contain;
}
.icon-smscode {
    display: inline-block;
    width: 0.195rem;
    height: 0.295rem;
    vertical-align: middle;
    background: transparent url(../../img/icon/05.png) no-repeat scroll 0 0;
    background-size: contain;
}
.icon-plate {
    display: inline-block;
    width: 0.21rem;
    height: 0.16rem;
    vertical-align: middle;
    background: transparent url(../../img/icon/06.png) no-repeat scroll 0 0;
    background-size: contain;
}
