/**
 * @author jun.yj
 * @date 2015/8/4
 */

.icon-arrow-left {
    width: 0.34rem;
    height: 0.25rem;
    background: transparent url(../../img/icon/01.png) no-repeat scroll 0 0;
    background-size: contain;
}
.icon-logo {
    width: 0.93rem;
    background: transparent url(../../img/logo/01.png) no-repeat scroll 0 0;
    background-size: contain;
}
.icon-name {
    display: inline-block;
    width: 0.23rem;
    height: 0.23rem;
    vertical-align: middle;
    background: transparent url(../../img/icon/03.png) no-repeat scroll 0 0;
    background-size: contain;
}
.icon-pass {
    display: inline-block;
    width: 0.23rem;
    height: 0.23rem;
    vertical-align: middle;
    background: transparent url(../../img/icon/02.png) no-repeat scroll 0 0;
    background-size: contain;
}
.icon-mobile {
    display: inline-block;
    width: 0.17rem;
    height: 0.25rem;
    vertical-align: middle;
    background: transparent url(../../img/icon/04.png) no-repeat scroll 0 0;
    background-size: contain;
}
.icon-smscode {
    display: inline-block;
    width: 0.195rem;
    height: 0.295rem;
    vertical-align: middle;
    background: transparent url(../../img/icon/05.png) no-repeat scroll 0 0;
    background-size: contain;
}
.icon-plate {
    display: inline-block;
    width: 0.21rem;
    height: 0.16rem;
    vertical-align: middle;
    background: transparent url(../../img/icon/06.png) no-repeat scroll 0 0;
    background-size: contain;
}

.icon-jieche,
.icon-jieche2,
.icon-chejianguanli,
.icon-chejianguanli2,
.icon-dingdan,
.icon-dingdan2,
.icon-gengduo,
.icon-gengduo2 {
    display: inline-block;
    width: 0.415rem;
    height: 0.3rem;
    vertical-align: middle;
    background: transparent url(../../img/icon/07-1.png) no-repeat scroll center center;
    background-size: contain;
}
.icon-chejianguanli {
    width: 0.35rem;
    margin-left: 0.11rem;
    background-image: url(../../img/icon/08-1.png);
}
.icon-dingdan {
    width: 0.32rem;
    margin-left: 0.13rem;
    background-image: url(../../img/icon/09-1.png);
}
.icon-gengduo {
    width: 0.285rem;
    margin-left: 0.03rem;
    background-image: url(../../img/icon/10-1.png);
}
.page-reception .page-footer .icon-jieche {
    background-image: url(../../img/icon/07-2.png);
}
.page-management .page-footer .icon-chejianguanli {
    background-image: url(../../img/icon/08-2.png);
}
.page-order .page-footer .icon-dingdan {
    background-image: url(../../img/icon/09-2.png);
}
.page-more .page-footer .icon-gengduo {
    background-image: url(../../img/icon/10-2.png);
}

.icon-touxiang {
    display: inline-block;
    width: 0.4rem;
    height: 0.3rem;
    vertical-align: middle;
    background: transparent url(../../img/icon/20.png) no-repeat scroll left center;
    background-size: contain;
}