/**
 * @author jun.yj
 * @date 2015/8/4
 */

.input {
    min-width: 0.5rem;
    height: 0.32rem;
    line-height: 0.32rem;
    padding: 0 0.05rem;
    border: 0.01rem solid #ddd;
    resize: none;
    vertical-align: middle;
}
