/**
 * @fileview 
 * @author 若何
 * @date 2015/1/20
 */

@import url(../../global/global.css);
@import url(../../global/site.css);

@import url(../../mod/caption.css);
@import url(../../mod/list.css);

.mod-caption,
.mod-pwdreset {
	padding: 0 calc(20 / 32 * 1rem);
}

.mod-caption .name {
	color: #efefef;
}

.mod-pwdreset .list {
	margin-top: calc(40 / 32 * 1rem);
	color: #ccc;
}
.mod-pwdreset .item {
	padding-left: calc(15 / 32 * 1rem);
}
.mod-pwdreset .item label span {
	display: inline-block;
	width: calc(130 / 32 * 1rem);;
}
.mod-pwdreset .inp-captcha {
	width: calc(276 / 32 * 1rem);;
}
.mod-pwdreset .captcha {
	float: right;
	width: calc(200 / 32 * 1rem);
	height: calc(86 / 32 * 1rem);
	line-height: calc(86 / 32 * 1rem);
}
.mod-pwdreset .captcha img {
	width: 50%;
	height: 50%;
	vertical-align: middle;
}

.mod-pwdreset .input {
	border: 0;
	background: none;
}

.footer .confirm {
	width: calc(401 / 32 * 1rem);
	height: calc(76 / 32 * 1rem);
	line-height: calc(70 / 32 * 1rem);
}
