/**
 * @fileview 点菜
 * @author 若何
 * @date 2015/1/20
 */

@import url(../../global/global.css);
@import url(../../global/site.css);

@import url(../../mod/list.css);
@import url(../../mod/course.css);


.mod-category {
	text-align: center;
}
.mod-category a {
	display: inline-block;
	width: calc(146 / 32 * 1rem);
	height: calc(78 / 32 * 1rem);
	line-height: calc(70 / 32 * 1rem);
	margin: 0 calc(5 / 32 * 1rem);
	margin-top: calc(14 / 32 * 1rem);
	text-align: center;
	color: #f4f4f4;
	background: transparent url(../../../imgs/button-05.png) no-repeat scroll 0 0;
	background-size: 100% 100%;
}
.mod-category a.selected {
	color: #f3c901;
}

.mod-la-carte .category {
	margin: calc(20 / 32 * 1rem) 0;
}
.mod-la-carte .category h2 {
	padding: calc(10 / 32 * 1rem) 0;
	padding-left: calc(20 / 32 * 1rem);
	color: #000;
	background-color: #f3c901;
}
.mod-la-carte .category li {
	margin: calc(20 / 32 * 1rem);
}

/* 预览菜品
---------------------------------------*/
.mod-preview > .content {
	padding: calc(20 / 32 * 1rem);
}
.mod-preview h2.button,
.mod-preview div.button {
	width: 100%;
	height: calc(78 / 32 * 1rem);
	line-height: calc(70 / 32 * 1rem);
	text-align: left;
}
.mod-preview h2.button span:first-child,
.mod-preview div.button span:first-child {
	margin-left: calc(40 / 32 * 1rem);
}
.mod-preview .list {
	margin: 0 calc(6 / 32 * 1rem);
	margin-top: calc(-12 / 32 * 1rem);
}
.mod-preview div.button span:last-child {
	float: right;
	margin-right: calc(30 / 32 * 1rem);
}
