/**
 * @author jun.yj
 * @email god.yangjun@gmail.com
 * @date 15/12/15
 */

.main-enterprise-reception,
.main-enterprise-reception-nav,
.main-enterprise-reception-detect {
    min-height: 7rem;
}

.main-enterprise-reception .photo {
    margin: 0.2rem;
    height: 1.5rem;
    background-color: #6e6f6a;
    text-align: center;
    color: #fff;
}
.main-enterprise-reception .photo .action {
    position: relative;
    top: 0.4rem;
}
.main-enterprise-reception .photo .action img {
    width: 0.48rem;
    margin-bottom: 0.05rem;
    vertical-align: middle;
}

.main-enterprise-reception .action {
    padding: 0 0.2rem;
}
.main-enterprise-reception .action .button {
    width: 100%;
}

/* 业务导航 */
.main-enterprise-reception-nav .details {
    margin: 0.2rem;
    background-color: #fff;
}
.main-enterprise-reception-nav .photos {
    padding: 0.1rem;
}
.main-enterprise-reception-nav .photos li {
    float: left;
    width: 33.33%;
    height: 0.9rem;
    padding: 0.05rem;
}
.main-enterprise-reception-nav .photos li:last-child {
    line-height: 0.8rem;
}
.main-enterprise-reception-nav .photos li:last-child > div {
    text-align: center;
    color: #bebebe;
    background-color: #f2f2f2;
}
.main-enterprise-reception-nav .details .iconfont {
    display: block;
    font-size: 0.32rem;
    height: 100%;
}
.main-enterprise-reception-nav .photos img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.main-enterprise-reception-nav .type {
    height: 0.3rem;
    line-height: 0.3rem;
    margin-left: 0.15rem;
}
.main-enterprise-reception-nav .type .label {
    padding: 0 0.15rem;
    color: #fff;
    background-color: #666;
}
.main-enterprise-reception-nav .type .text {
    padding: 0 0.15rem;
    background-color: #f2f2f2;
}
.main-enterprise-reception-nav .details .user {
    padding: 0.15rem 0 0.1rem 0.15rem;
}

.main-enterprise-reception-nav .navs {
    margin: 0.2rem;
}
.main-enterprise-reception-nav .navs li {
    height: 0.6rem;
    line-height: 0.6rem;
    margin-bottom: 0.1rem;
    background-color: #fff;
    border-left: 0.02rem solid #e23b49;
    border-top-right-radius: 0.03rem;
    border-bottom-right-radius: 0.03rem;
}
.main-enterprise-reception-nav .navs .options {
    border-left-color: #00b1d7;
}
.main-enterprise-reception-nav .navs .history {
    border-left-color: #60cd4d;
}
.main-enterprise-reception-nav .navs li a {
    display: block;
    padding-left: 0.2rem;
}
.main-enterprise-reception-nav .navs li img {
    width: 0.3rem;
    margin-right: 0.2rem;
    vertical-align: middle;
}
.main-enterprise-reception-nav .navs .right {
    margin-right: 0.2rem;
}
.main-enterprise-reception-nav .navs .history {
    margin-top: 0.4rem;
}

@media all and (max-width: 320px) {
    .main-enterprise-reception-nav .photos li {
        height: 0.8rem;
    }
    .main-enterprise-reception-nav .photos li:last-child {
        line-height: 0.7rem;
    }
}