/**
 * @author jun.yj
 * @since 2015/8/4
 */

*, *:before, *:after {
    /* 设置元素的盒模型为border-box */
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    /* chrome不再支持下面的属性。移动端Safari横屏时禁止字体放大 */
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
            text-size-adjust: 100%;
    /* 去除点击元素后的高亮效果 */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/**
 * 去除元素周围的虚线
 */
*:focus {
    outline: none;
}

html {
    font-size: 625%; /* 相当于100px，方便计算，浏览器默认字体为16px */
    color: #555;
    background-color: #fff;
}

html,
body {
    width: 100%;
}

body {
    position: relative;
    font-size: 12px; /* 对不支持rem单位的浏览器，重置为12px */
    font: 0.14rem/1.5 tahoma,arial,"\5B8B\4F53",sans-serif;
    -webkit-user-select: none;
            user-select: none;
}

ul,ol,dl,dd {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6,
p {
    margin: 0;
    font-weight: normal;
}

button,
input,
select,
textarea {
    font-size: 100%;
    font-family: inherit;
}

input::-webkit-input-placeholder,
input::-moz-placeholder,
input::-ms-input-placeholder,
textarea::-webkit-input-placeholder,
textarea::-moz-placeholder,
textarea::-ms-input-placeholder {
    color: #ccc;
}

a {
	color: #302d20;
    text-decoration: none;
}
a:hover {
	color: #5db1ff;
    text-decoration: none;
}

.clearfix {
    zoom: 1;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

/**
 * 设置一行文本内容，两端对齐
 */
.justify {
    text-align: justify;
}
.justify:after {
    display: inline-block;
    content: "";
    width: 100%;
    height: 0;
}

.hide {
    display: none!important;
}

.left {
    float: left;
}
.right {
    float: right;
}

.nonselect {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

/**
 * <span class="cny">&yen;</span>
 */
.cny{
    font-family: arial, Helvetica;
}
