/**
 * 头部导航区.
 * 
 * @author jun.yj
 * @since 2015/6/5
 */

#header .layout {
	position: relative;
}

.mod-hbar {
	position: absolute;
	z-index: 2;
	width: 100%;
	min-width: 1200px;
	height: 75px;
	line-height: 75px;
	color: #302d20;
	background-color: #fff;
	background-color: rgba(255,255,255,0.8);
	-webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.mod-hbar .content {
	width: 100%;
	margin: 0 auto;
}
.mod-hbar .logo {
	display: inline-block;
	float: left;
    display: inline;
	width: 45px;
	height: 42px;
	margin-top: 18px;
	margin-left: 132px;
}
.mod-hbar .logo img {
	width: 100%;
	height: 100%;
}
.mod-hbar .nav {
	float: right;
	display: inline;
	margin-right: 140px;
}
.mod-hbar .nav li {
	float: left;
	display: inline;
	padding: 0 17px;
	font-size: 14px;
}

.page-index .mod-hbar .index a,
.page-download .mod-hbar .download a,
.page-help .mod-hbar .help a,
.page-forum .mod-hbar .forum a,
.page-login .mod-hbar .login a,
.page-register .mod-hbar .register a {
	color: #5db1ff;
}
