/**
 * @author jun.yj
 * @since 2015/8/5
 */

.main-hero {

}

.mod-tab-switcher span {
    color: #fff;
    border-color: #fff;
    background-color: #4471bc;
    font-size: 0.14rem;
}
.mod-tab-switcher .curr {
    color: #4471bc;
    background-color: #fff;
}

.mod-tab-sample {
    border-bottom: 0;
}

.main-hero .mod-list li {
    padding-right: 0.1rem;
}
.main-hero .mod-list li > a {
    display: block;
}
.main-hero .mod-list li > a > span {
    height: 0.25rem;
    line-height: 0.25rem;
}
.main-hero .mod-list li .left:first-child {
    width: 0.3rem;
    color: #888;
}
.main-hero .mod-list .nums {
    margin-right: 0.2rem;
}
.main-hero .mod-list .arrow-right {
    float: none;
    display: inline-block;
    width: 0.16rem;
    height: 0.16rem;
    margin: 0 0 0 0.1rem;
}

.main-hero-user .details {
    color: #fff;
    padding-bottom: 0.2rem;
    background-color: #4471bc;
}
.main-hero-user .details .amount {
    color: #fff;
    text-align: center;
}
.main-hero-user .details .text-lesser {
    color: #9eb6dc;
}
.main-hero-user .details ul {
    margin-top: 0.15rem;
}
.main-hero-user .details li {
    float: left;
    width: 25%;
    text-align: center;
}
.main-hero-user > .content > p {
    margin: 0.15rem 0 0.15rem 0.2rem;
}
.main-hero-user .mod-list-std .status {
    margin-top: 0;
}

.main-hero-user .action {
    margin: 0.2rem;
}
.main-hero-user .action .button {
    width: 100%;
}

.main-hero .mod-tab-sample li span {
    height: 0.5rem;
    line-height: 0.5rem;
}
