/**
 * @author jun.yj
 * @since 2015/8/5
 */

.main-home {
    background-color: #edf0f5;
}

.main-home .details {
    margin: 0.2rem 0.2rem 0 0.2rem;
}
.main-home .details .text-xxxl {
    font-weight: bold;
    line-height: 1;
}
.main-home .details .charts {
    margin: 0.1rem 0;
}
.main-home .details .charts .left {
    width: 68%;
    height: 0.27rem;
    line-height: 0.27rem;
    padding-right: 0.08rem;
    color: #fff;
    text-align: right;
    background-color: #F05A3C;
}
.main-home .details .charts .right {
    width: 32%;
    height: 0.27rem;
    line-height: 0.27rem;
    padding-left: 0.08rem;
    color: #fff;
    background-color: #17B03E;
}
.main-home .details .summary {
    padding: 0.03rem 0.2rem;
    margin-bottom: 0.2rem;
    color: #fff;
    background-color: #EDC504;
}

/* 新手练习场 */
.main-home .novice {
    margin: 0.1rem 0;
}
.main-home .novice a {
    display: block;
    height: 0.4rem;
    line-height: 0.4rem;
    text-align: center;
    border-top: 0.01rem solid #ddd;
    border-bottom: 0.01rem solid #ddd;
    background-color: #fff;
}
.main-home .novice em {
    padding: 0.02rem;
    margin-left: 0.05rem;
    color: #fff;
    vertical-align: top;
    background-color: #ff7700;
}

.main-home > .content > p {
    text-align: center;
    margin: 0.2rem 0;
}
.main-home > .content > p em {
    font-style: normal;
    font-weight: normal;
    font-size: 0.18rem;
}

.main-home .mod-tab-switcher {
    position: relative;
    bottom: -0.15rem;
    margin-top: 0.1rem;
}
.main-home .mod-tab-switcher + .mod-list {
    padding-top: 0.1rem;
}

.main-home .mod-list li > a {
    display: block;
}
