/**
 * @author jun.yj
 * @since 2015/8/5
 */

.main-home {
    background-color: #edf0f5;
}

/* pk game
 * ======================*/
.main-home .pk-game {
    position: relative;
    height: 0.56rem;
    margin: 0.2rem;
    overflow: hidden;
    color: #fff;
    border-radius: 0.06rem;
    background-color: #17b03e;
}
.main-home .pk-game .bar  {
    position: absolute;
    width: 50%;
    height: 100%;
    border-radius: 0.06rem;
    background-color: #d0402d;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-transition: all .5s;
            transition: all .5s;
}
.main-home .pk-game .highs {
    display: block;
    margin: 0.08rem 0 0 0.05rem;
    white-space: nowrap;
}
.main-home .pk-game .lows {
    display: block;
    text-align: right;
    margin: 0.08rem 0.05rem 0 0;
}
.main-home .pk-game .pk {
    position: absolute;
    top: 0;
    right: -0.28rem;
    z-index: 1;
    width: 0.56rem;
    height: 0.56rem;
    line-height: 0.56rem;
    text-align: center;
    font-size: 0.18rem;
    color: #555;
    background-color: #fff;
    border-radius: 100%;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
}
.main-home .pk-game .rotate360 {
    -webkit-transition: -webkit-transform .5s;
            transition: transform .5s;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
}
.main-home .pk-game .rotate-360 {
    -webkit-transition: -webkit-transform .5s;
            transition: transform .5s;
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
}

.main-home .novice {
    margin: 0.2rem;
}
.main-home .novice a {
    display: block;
    height: 0.4rem;
    line-height: 0.4rem;
    text-align: center;
    border: 0.01rem solid #d8d8d8;
    font-size: 0.18rem;
    background-color: #fff;
    border-radius: 0.06rem;
}

.main-home > .content > p {
    text-align: center;
    margin: 0.2rem 0;
}
.main-home > .content > p em {
    font-style: normal;
    font-weight: normal;
    font-size: 0.18rem;
}

.main-home .mod-tab-switcher {
    position: relative;
    bottom: -0.15rem;
    margin-top: 0.1rem;
}
.main-home .mod-tab-switcher + .mod-list {
    padding-top: 0.1rem;
}
