/**
 * @author jun.yj
 * @since 2015/8/5
 */

.main-home-guide {

}

.main-home-guide .intro {
    margin: 0.2rem 0.2rem 0.4rem 0.2rem;
    text-indent: 2em;
    color: #666;
}
.main-home-guide .segment {
    margin: 0.2rem;
    color: #666;
}
.main-home-guide .segment h3 {
    margin-bottom: 0.1rem;
    color: #333;
}
.main-home-guide .segment p {
    text-indent: 2em;
}
.main-home-guide .segment ol {
    margin-left: 2em;
}
.main-home-guide .segment figure {
    margin: 0.2rem 0;
    padding: 0;
}
.main-home-guide .segment figure img {
    width: 100%;
}
.main-home-guide .segment a {
    color: #5db1ff;
}
.main-home-guide .segment aside {
    float: left;
    width: 0.86rem;
    height: 0.86rem;
    margin-right: 0.2rem;
    margin-bottom: 0.3rem;
    text-align: center;
}
.main-home-guide .segment-img {
    font-size: 0.12rem;
    margin: 0.3rem 0.2rem;
}
.main-home-guide .segment-img p {
    text-indent: 0;
}
