/**
 * @author jun.yj
 * @since 2015/8/5
 */

.main-home-kefu {

}

.main-home-kefu ul .time {
    margin: 0.15rem 0;
    text-align: center;
}
.main-home-kefu ul img {
    width: 0.5rem;
    height: 0.5rem;
    float: left;
    margin-left: -0.8rem;
    margin-top: -0.1rem;
    vertical-align: middle;
}
.main-home-kefu ul .detail {
    min-height: 0.5rem;
    border: 1px solid #d8d8d8;
    padding: 0.1rem;
    margin: 0.15rem 0.2rem 0.15rem 0.9rem;
    background-color: #fff;
    border-radius: 0.06rem;
}
.main-home-kefu .fr img {
    float: right;
    margin-right: -0.8rem;
}
.main-home-kefu .fr .detail {
    margin: 0.15rem 0.9rem 0.15rem 0.2rem;
}
.main-home-kefu ul .icon-arrow-left {
    float: left;
    margin: 0.05rem 0 0 -0.22rem;
}
.main-home-kefu ul .icon-arrow-right {
    float: right;
    margin: 0.05rem -0.22rem 0 0;
}

.main-home-kefu .user-input {
    position: fixed;
    bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    padding: 0.1rem 0;
    background-color: #fff;
    border-top: 1px solid #d8d8d8;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
            align-items: center;
}
.main-home-kefu .input {
    height: 0.46rem;
    margin-left: 0.1rem;
    border-radius: 0.06rem;
    -webkit-box-flex: 5;
    -webkit-flex: 5 auto;
    flex: 5 auto;
}
.main-home-kefu .button {
    vertical-align: middle;
    margin-right: 0.1rem;
    border: 0;
    -webkit-box-flex: 1;
    -webkit-flex: 1 auto;
    flex: 1 auto;
}