/**
 * @author jun.yj
 * @since 2015/8/5
 */

.main-home-kefu {

}

.main-home-kefu ul li {
    margin: 0.15rem 0;
}
.main-home-kefu ul .time {
    margin-bottom: 0.1rem;
    text-align: center;
}
.main-home-kefu ul .time time {
    padding: 0.02rem 0.04rem;
    color: #fff;
    background-color: #D7D7D7;
    border-radius: 0.03rem;
}
.main-home-kefu ul img {
    position: absolute;
    left: -0.8rem;
    top: 0;
    width: 0.5rem;
    height: 0.5rem;
}
.main-home-kefu ul .detail {
    position: relative;
    display: inline-block;
    border: 1px solid #ddd;
    padding: 0.05rem 0.1rem;
    margin: 0 0.6rem 0 0.9rem;
    background-color: #ddd;
    border-radius: 0.06rem;
}
.main-home-kefu ul .detail time {
    position: absolute;
    right: -0.45rem;
    bottom: 0;
}
.main-home-kefu .fr {
    text-align: right;
}
.main-home-kefu .fr img {
    left: auto;
    right: -0.8rem;
}
.main-home-kefu .fr .detail {
    text-align: left;
    margin: 0 0.9rem 0 0.6rem;
    border-color: #89B9EA;
    background-color: #89B9EA;
}
.main-home-kefu ul .icon-arrow-left {
    float: left;
    margin: 0.05rem 0 0 -0.22rem;
}
.main-home-kefu ul .icon-arrow-right {
    float: right;
    margin: 0.05rem -0.22rem 0 0;
}
.main-home-kefu ul .icon-arrow-left:nth-of-type(2) {
    border-top-color: #ddd;
    margin-left: -0.2rem;
}
.main-home-kefu .fr .icon-arrow-left:nth-of-type(2) {
    border-top-color: #89B9EA;
}
.main-home-kefu ul .icon-arrow-right:nth-of-type(2) {
    border-top-color: #ddd;
    margin-right: -0.2rem;
}
.main-home-kefu .fr .icon-arrow-right {
    border-top-color: #89B9EA;
}
.main-home-kefu .fr .icon-arrow-right:nth-of-type(2) {
    border-top-color: #89B9EA;
}
.main-home-kefu .fr .detail time {
    right: auto;
    left: -0.45rem;
}

.main-home-kefu .user-input {
    position: fixed;
    bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    padding: 0.1rem 0;
    background-color: #fff;
    border-top: 1px solid #ddd;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
            align-items: center;
}
.main-home-kefu .input {
    height: 0.46rem;
    margin-left: 0.1rem;
    border-radius: 0.06rem;
    -webkit-box-flex: 5;
    -webkit-flex: 5 auto;
    flex: 5 auto;
}
.main-home-kefu .button {
    vertical-align: middle;
    margin-right: 0.1rem;
    border: 0;
    -webkit-box-flex: 1;
    -webkit-flex: 1 auto;
    flex: 1 auto;
}