/**
 * @author jun.yj
 * @since 2015/8/5
 */

.page-buy-highs,
.page-buy-lows {
    display: none;
}

/* PAGE: 交易页面
 ========================================*/
.main-trade {

}
.main-trade .summary {
    padding: 0.15rem 0 0.1rem 0;
    text-align: center;
    background-color: #eee;
}
.main-trade article.make,
.main-trade article.open-interest,
.main-trade article.settle {
    display: none;
}
.main-trade .tab-make .mod-tab-sample .make,
.main-trade .tab-open-interest .mod-tab-sample .open-interest,
.main-trade .tab-settle .mod-tab-sample .settle {
    border-bottom-color: #4471bc;
}
.main-trade .tab-make article.make,
.main-trade .tab-open-interest article.open-interest,
.main-trade .tab-settle article.settle {
    display: block;
}

/* 股票详情（当前价格，卖出、买入价格，涨幅等）
 ---------------------------------------*/
.main-trade .stock-detail {
    padding: 0;
    border-top-color: #f0f0f0;
    border-bottom-color: #f0f0f0;
}
.main-trade .stock-detail li {
    float: left;
}
.main-trade .stock-detail .symbol,
.main-trade .stock-detail .change {
    width: 29%;
}
.main-trade .stock-detail .price {
    width: 42%;
    text-align: center;
}
.main-trade .stock-detail .price > div {
    line-height: 1;
}
.main-trade .stock-detail ul:first-child {
    padding: 0.2rem;
}
.main-trade .stock-detail .change {
    text-align: right;
}
.main-trade .stock-detail .arrow-right {
    float: right;
    color: #ccc;
    margin-top: 0.08rem;
    margin-left: 0.03rem;
}
.main-trade .stock-detail ul:last-child {
    border-top: 0.01rem solid #f0f0f0;
}
.main-trade .stock-detail .sale,
.main-trade .stock-detail .buy {
    width: 50%;
}
.main-trade .stock-detail .sale div {
    border-right: 0.01rem solid #f0f0f0;
}
.main-trade .stock-detail .sale div,
.main-trade .stock-detail .buy div {
    padding: 0.1rem 0.2rem;
}

/* 股票大盘，走势图
 ---------------------------------------*/
.main-trade .stock-chart {
    padding: 0;
    border-bottom: 0;
    border-top-color: #f0f0f0;
}
.main-trade .stock-chart .mod-tab-min {
    margin-top: 0.1rem;
}
.main-trade .stock-chart article.tick,
.main-trade .stock-chart article.daily {
    display: none;
}
.main-trade .stock-chart .mod-table td {
    width: 50%;
    padding: 0.06rem 0.2rem 0.05rem 0.2rem;
}

.main-trade .action {
    margin: 0.2rem 0;
}
.main-trade .action > div {
    width: 50%;
}
.main-trade .action > div:first-child {
    padding: 0 0.1rem 0 0.2rem;
}
.main-trade .action > div:last-child {
    padding: 0 0.2rem 0 0.1rem;
}
.main-trade .action .button {
    width: 100%;
    height: 0.4rem;
    line-height: 0.4rem;
    font-size: 0.18rem;
}

/* PAGE: 买入委托页面
 ========================================*/
.main-buy-highs .action {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 0.6rem;
    line-height: 0.6rem;
    text-align: center;
    border-top: 0.01rem solid #d8d8d8;
    background-color: #fff;
}
.main-buy-highs .action .button {
    width: 85%;
    height: 0.4rem;
    line-height: 0.4rem;
    font-size: 0.18rem;
}

/* PAGE: 买出委托页面
 ========================================*/
.main-buy-lows .action {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 0.6rem;
    line-height: 0.6rem;
    text-align: center;
    border-top: 0.01rem solid #d8d8d8;
    background-color: #fff;
}
.main-buy-lows .action .button {
    width: 85%;
    height: 0.4rem;
    line-height: 0.4rem;
    font-size: 0.18rem;
}















