/**
 * @author jun.yj
 * @email god.yangjun@gmail.com
 * @date 15/12/15
 */

.page-main .search {
    padding: 0 0.2rem;
    margin-top: 0.2rem;
}
.page-main .search .button-search {
    width: 100%;
}
.page-main .search .left {
    margin-left: 0.1rem;
}
.page-main .search .iconfont {
    margin-right: 0.2rem;
}

.main-general-more {
    min-height: 6rem;
    background-color: #f3f3f3;
}

/* 更多 - 首页 */
.main-general-more .ps {
    margin: 0.5rem 0 0.2rem 0.2rem;
}
.main-general-more .ps div {
    margin-bottom: 0.05rem;
}
.main-general-more .ps img {
    width: 2.19rem;
    margin-top: -0.3rem;
}
.main-general-more .ps .text-s32 {
    color: #1e83d1;
}

.main-general-more .list-nav li > a {
    background-color: #1e83d1;
}

/* 更多 - 车架号查询 */
.main-general-more-search-result .list3 {
    background-color: #fff;
}

/* 更多 - 通用性查询 */
.main-general-more-common-result .lists {
    margin: 0.2rem 0;
}
.main-general-more-common-result .list2 {
    margin: 0.1rem 0.2rem;
}
.main-general-more-common-result .list2 li span:first-child {
    width: 29%;
}
