/**
 * @author jun.yj
 * @email god.yangjun@gmail.com
 * @date 15/12/15
 */

.page-main .search {
    padding: 0 0.2rem;
    margin-top: 0.2rem;
}
.page-main .search .button-search {
    width: 100%;
}
.page-main .search .left {
    margin-left: 0.1rem;
}
.page-main .search .iconfont {
    margin-right: 0.2rem;
}

.main-general-more {
    min-height: 6rem;
    background-color: #f3f3f3;
}

/* 更多 - 首页 */
.main-general-more .ps {
    margin: 0.5rem 0 0.2rem 0.2rem;
}
.main-general-more .ps div {
    margin-bottom: 0.05rem;
}
.main-general-more .ps img {
    width: 2.19rem;
    margin-top: -0.3rem;
}
.main-general-more .ps .text-s32 {
    color: #1e83d1;
}

.main-general-more .list-nav li > a {
    background-color: #1e83d1;
}

/* 更多 - 车架号查询 */
.main-general-more-search-result .list3 {
    background-color: #fff;
}

/* 更多 - 通用性查询 */
.main-general-more-common .s-art-nr {
    width: 67%;
}
.main-general-more-common-result .show-list-1 {
    margin-top: 0.2rem;
}
.main-general-more-common-result .list {
    margin: 0.1rem 0.2rem;
}
.main-general-more-common-result .list li {
    height: auto;
    line-height: 0.25rem;
}
.main-general-more-common-result .list li .label {
    width: 36%;
}
.main-general-more-common-result .list li .text {
    width: 64%;
}
.main-general-more-common-result .list .pinpai,
.main-general-more-common-result .list .xinghao {
    padding-left: 0.2rem;
}
.main-general-more-common-result .list .xinghao {
    border-bottom: 0.01rem solid #e0e0e0;
    padding-top: 0.05rem;
    padding-bottom: 0.05rem;
}
.main-general-more-common-result .list .items {
    padding-top: 0.05rem;
    border-bottom: 0.01rem dotted #e0e0e0;
}
.main-general-more-common-result .show-list-1,
.main-general-more-common-result .show-list-2,
.main-general-more-common-result .show-list-3 {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 0.2rem;
}
.main-general-more-common-result .show-list-1 .list li:last-child .items:last-child {
    border-bottom: 0;
}
.main-general-more-common-result .show-list-2 .list3 li span:first-child {
    width: 40%;
}
.main-general-more-common-result .show-list-3 .list3 li span:first-child {
    width: 60%;
}
.main-general-more-common-result .lists {
    margin: 0.2rem 0;
}
.main-general-more-common-result .list2 {
    margin: 0.1rem 0.2rem;
}
.main-general-more-common-result .list2 li span:first-child {
    width: 29%;
}

/* 商家查询 */
.main-business-detail .lists {
    margin-top: 0.2rem;
}
.main-business-detail .list {
    margin: 0.1rem 0.2rem;
}

/* 更多 - 申请企业用户 */
.main-general-more-apply-enterprise .search .user-input {
    margin-bottom: 0.1rem;
    border: 0.01rem solid #fff;
}
.main-general-more-apply-enterprise .search .user-input label,
.main-general-more-apply-enterprise .search .user-input input {
    float: left;
    height: 0.5rem;
    line-height: 0.5rem;
}
.main-general-more-apply-enterprise .search .user-input label {
    width: 24%;
    padding-left: 0.2rem;
    border-right: 0.01rem solid #ededed;
    background-color: #f6f6f6;
}
.main-general-more-apply-enterprise .search .user-input input {
    width: 76%;
    padding: 0 0.1rem;
    border: 0;
}
.main-general-more-apply-enterprise .search .action {
    padding: 0;
}
.main-general-more-apply-enterprise .search .action .button {
    border-radius: 0;
    background-color: #f68827;
}
.main-general-more-apply-enterprise .results {
    margin: 0.2rem;
}
.main-general-more-apply-enterprise .results li {
    height: 0.5rem;
    line-height: 0.5rem;
    border-bottom: 0.03rem solid #f3f3f3;
    background-color: #fff;
}
.main-general-more-apply-enterprise .results .img {
    display: inline-block;
    width: 0.17rem;
    height: 0.17rem;
    margin: 0 0.2rem;
    background: transparent url(../../../../../res/img/icon/25-1.png) no-repeat scroll 0 0;
    background-size: contain;
    vertical-align: text-bottom;
}
.main-general-more-apply-enterprise .results .curr {
    color: #ff6600;
}
.main-general-more-apply-enterprise .results .curr .img {
    background-image: url(../../../../../res/img/icon/25-2.png);
}

/* 更多 - 查询申请 */
.main-general-more-apply-search .results {
    margin: 0.2rem;
}
.main-general-more-apply-search .results li {
    height: 0.5rem;
    line-height: 0.5rem;
    border-bottom: 0.03rem solid #f3f3f3;
    background-color: #fff;
}
.main-general-more-apply-search .results .img {
    display: inline-block;
    width: 0.17rem;
    height: 0.17rem;
    margin: 0 0.2rem;
    background: transparent url(../../../../../res/img/icon/25-1.png) no-repeat scroll 0 0;
    background-size: contain;
    vertical-align: text-bottom;
}
.main-general-more-apply-search .results .curr {
    color: #ff6600;
}
.main-general-more-apply-search .results .curr .img {
    background-image: url(../../../../../res/img/icon/25-2.png);
}
.main-general-more-apply-search .forms-list li > label {
    width: 37%;
}
.main-general-more-apply-search .forms-list li input {
    width: 63%;
}

/* 汽修预约 */
.main-general-reservation .list-set2 legend {
    margin-left: 35%;
}

/* 商户查询 */
.main-general-business-detail .list li .label {
    width: 33%;
}
.main-general-business-detail .list li .text {
    width: 67%;
}

/* 汽修查询 */
.main-general-repair .results {
    margin: 0.2rem;
}
.main-general-repair .results li {
    height: 0.5rem;
    line-height: 0.5rem;
    border-bottom: 0.03rem solid #f3f3f3;
    background-color: #fff;
}
.main-general-repair .results .img {
    display: inline-block;
    width: 0.17rem;
    height: 0.17rem;
    margin: 0 0.2rem;
    background: transparent url(../../../../../res/img/icon/25-1.png) no-repeat scroll 0 0;
    background-size: contain;
    vertical-align: text-bottom;
}
.main-general-repair .results .curr {
    color: #ff6600;
}
.main-general-repair .results .curr .img {
    background-image: url(../../../../../res/img/icon/25-2.png);
}
