/**
 * @author jun.yj
 * @email god.yangjun@gmail.com
 * @date 15/12/15
 */

.page-main .search {
    padding: 0 0.2rem;
    margin-top: 0.2rem;
}
.page-main .search .button-search {
    width: 100%;
}
.page-main .search .left {
    margin-left: 0.1rem;
}
.page-main .search .iconfont {
    margin-right: 0.2rem;
}

.main-enterprise-more {
    min-height: 6rem;
    background-color: #f3f3f3;
}

/* 更多 - 首页 */
.main-enterprise-more .ps {
    margin: 0.2rem;
    margin-top: 0.5rem;
}
.main-enterprise-more .ps div {
    margin-bottom: 0.05rem;
}
.main-enterprise-more .ps img {
    width: 1.49rem;
    margin-top: -0.3rem;
}

/* 更多 - 销售开单列表 */
.main-enterprise-more-orders .lists {
    margin-top: 0.2rem;
}
.main-enterprise-more-orders .lists > a {
    display: block;
}
.main-enterprise-more-orders .list2 {
    margin: 0.1rem 0.2rem;
}

/* 更多 - 销售开单列表 - 订单详情 */
.main-enterprise-more-orders-detail .table {
    margin: 0.2rem 0.1rem;
}
.main-enterprise-more-orders-detail .table .col-1 {
    width: 45%;
}
.main-enterprise-more-orders-detail .table .col-2 {
    width: 25%;
}
.main-enterprise-more-orders-detail .table table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0.1rem;
    table-layout: fixed;
}
.main-enterprise-more-orders-detail .table th {
    padding-left: 0.1rem;
    font-size: 0.16rem;
    text-align: left;
    font-weight: normal;
    color: #666;
}
.main-enterprise-more-orders-detail .table td {
    height: 0.5rem;
    padding-left: 0.15rem;
    background-color: #fff;
}
.main-enterprise-more-orders-detail .table td:last-child {
    color: #cc0000;
}

/* 更多 - 销售开单列表 - 库存选择 */
.main-enterprise-more-orders-stock .search .user-input {
    margin-bottom: 0.1rem;
    border: 0.01rem solid #fff;
}
.main-enterprise-more-orders-stock .search .user-input label,
.main-enterprise-more-orders-stock .search .user-input input {
    float: left;
    height: 0.5rem;
    line-height: 0.5rem;
}
.main-enterprise-more-orders-stock .search .user-input label {
    width: 20%;
    padding-left: 0.2rem;
    border-right: 0.01rem solid #ededed;
    background-color: #f6f6f6;
}
.main-enterprise-more-orders-stock .search .user-input input {
    width: 80%;
    padding: 0 0.1rem;
    border: 0;
}
.main-enterprise-more-orders-stock .search .action {
    padding: 0;
}
.main-enterprise-more-orders-stock .search .action .button {
    border-radius: 0;
    background-color: #f68827;
}
.main-enterprise-more-orders-stock .results {
    margin: 0.2rem;
}
.main-enterprise-more-orders-stock .results li {
    height: 0.5rem;
    line-height: 0.5rem;
    border-bottom: 0.03rem solid #f3f3f3;
    background-color: #fff;
}
.main-enterprise-more-orders-stock .results .img {
    display: inline-block;
    width: 0.17rem;
    height: 0.17rem;
    margin: 0 0.2rem;
    background: transparent url(../../../../../res/img/icon/25-1.png) no-repeat scroll 0 0;
    background-size: contain;
    vertical-align: text-bottom;
}
.main-enterprise-more-orders-stock .results .curr {
    color: #ff6600;
}
.main-enterprise-more-orders-stock .results .curr .img {
    background-image: url(../../../../../res/img/icon/25-2.png);
}

/* 更多 - 销售开单列表 - 销售开单 */
.main-enterprise-more-orders-make .list3 {
    background-color: #fff;
}
.main-enterprise-more-orders-make .forms-list li > label {
    width: 21%;
}
.main-enterprise-more-orders-make .forms-list li > input {
    width: 79%;
}
.main-enterprise-more-orders-make .links {
    padding: 0 0.2rem;
}
.main-enterprise-more-orders-make .links .button:first-child {
    margin-bottom: 0.2rem;
    background-color: #2abd92;
}

/* 更多 - 费用审批 */
.main-enterprise-more-approve .lists {
    margin-top: 0.2rem;
}
.main-enterprise-more-approve .lists > a {
    display: block;
}
.main-enterprise-more-approve .list2 {
    margin: 0.1rem 0.2rem;
}

/* 更多 - 费用审批 - 费用详情 */
.main-enterprise-more-approve-detail .list3 li span:first-child {
    min-width: 0.98rem;
}

/* 更多 - 用户权限 */
.main-enterprise-more-permission .lists {
    margin-top: 0.2rem;
}
.main-enterprise-more-permission .lists > a {
    display: block;
}
.main-enterprise-more-permission .list2 {
    margin: 0.1rem 0.2rem;
}
.main-enterprise-more-permission .assigned {
    background-color: #ffc552;
}