/**
 * 登录
 *
 * @author jun.yj
 * @email god.yangjun@gmail.com
 * @date 15/12/15
 */

.forms {
    text-align: center;
}
.forms > li {
    margin: 0.1rem 0.2rem;
}
.forms .input {
    width: 100%;
}

.form-input {
    height: 0.46rem;
    line-height: 0.46rem;
    padding: 0 0.12rem;
    background-color: #f2f2f2;
    border-radius: 0.08rem;
}
.form-input > .left {
    width: 70%;
    text-align: left;
}
.form-input input {
    width: 82%;
    height: 0.44rem;
    line-height: 0.44rem;
    border: 0;
    margin-left: 0.1rem;
    background-color: #f2f2f2;
}

.forms-list {
    margin: 0.2rem;
    background-color: #fff;
}
.forms-list li {
    padding: 0.11rem 0;
    border-bottom: 0.01rem solid #d4d4d4;
}
.forms-list li label,
.forms-list li input {
    float: left;
}
.forms-list li > label {
    width: 29%;
    padding: 0 0.2rem;
    border-right: 0.01rem solid #e0e0e0;
}
.forms-list li input {
    width: 71%;
    height: 0.22rem;
    line-height: 0.22rem;
    padding: 0 0.1rem;
    border: 0;
}
.forms-list li .forms-select,
.forms-list li .forms-calendar {
    float: left;
    width: 71%;
    padding: 0 0.2rem 0 0.1rem;
    text-align: center;
    color: #aaa;
}
.forms-list li .forms-select > span,
.forms-list li .forms-calendar > span {
    display: inline-block;
    vertical-align: middle;
}
.forms-list li .forms-select img {
    float: right;
    width: 0.225rem;
    height: 0.15rem;
    margin-top: 0.03rem;
}
.forms-list li .forms-calendar img {
    float: right;
    width: 0.22rem;
    height: 0.21rem;
}

.forms-list2 {
    margin: 0.2rem;
    border: 0.1rem solid transparent;
    border-image: url(../../../res/img/other/06.png) 20 20 stretch;
}
.forms-list2 li {
    height: 0.5rem;
    line-height: 0.5rem;
    padding: 0 0 0 0.1rem;
    background-color: #fff;
}
.forms-list2 li > label,
.forms-list2 li > span {
    float: left;
}
.forms-list2 li > label {
    width: 20%;
}
.forms-list2 li > span {
    width: 80%;
    color: #666;
}
.forms-list2 li > span > img {
    float: right;
    width: 0.225rem;
    height: 0.15rem;
    margin-top: 0.2rem;
}
.forms-list2 li .forms-select {
    text-align: center;
    background-color: #f3f3f3;
    border-radius: 0.03rem;
    padding-right: 0.2rem;
    font-size: 0.16rem;
}