/**
 * 登录
 *
 * @author jun.yj
 * @email god.yangjun@gmail.com
 * @date 15/12/15
 */

.list {
    zoom: 1;
    margin: 0.2rem;
    padding: 0.1rem 0;
    background-color: #fff;
}
.list:after {
    content: '';
    display: block;
    overflow: hidden;
    height: 0;
    clear: both;
    visibility: hidden;
}
.list li {
    height: 0.3rem;
    line-height: 0.3rem;
}
.list li .label,
.list li .text {
    float: left;
}
.list li .label {
    width: 25%;
    padding: 0 0.2rem;
}
.list li .text {
    width: 75%;
}

.list-nav {
    margin: 0.2rem;
}
.list-nav li {
    margin: 0.1rem 0;
}
.list-nav li > a {
    display: block;
    zoom: 1;
    height: 0.64rem;
    line-height: 0.6rem;
    color: #fff;
    font-size: 0.18rem;
    background-color: #ff5a37;
    border-radius: 0.08rem;
}
.list-nav li > a:after {
    content: '';
    display: block;
    overflow: hidden;
    height: 0;
    clear: both;
    visibility: hidden;
}
.list-nav li .left img {
    width: 0.3rem;
    margin-left: 0.2rem;
    margin-right: 0.15rem;
    vertical-align: middle;
}
.list-nav li .left span {
    display: inline-block;
    vertical-align: middle;
}
.list-nav li .right {
    margin: 0.22rem 0.2rem 0 0;
}

.list-set {
    padding: 0;
    margin: 0.2rem;
    border: 0;
    border-top: 0.01rem solid #d3d3d3;
}
.list-set legend {
    margin-left: 40%;
    margin-bottom: 0.1rem;
    padding: 0 0.15rem;
    color: #999;
    font-size: 0.18rem;
}
.list-set ul {
    zoom: 1;
}
.list-set ul:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.list-set li {
    float: left;
    width: 33.33%;
    padding: 0.05rem;
}
.list-set li:nth-child(3n+1) {
    padding-left: 0;
}
.list-set li:nth-child(3n+3) {
    padding-right: 0;
}
.list-set li > span {
    display: block;
    height: 0.4rem;
    line-height: 0.4rem;
    overflow: hidden;
    text-align: center;
    font-size: 0.14rem;
    border-radius: 0.02rem;
    background-color: #fafafa;
}

.list-emp li {
    padding-left: 20%;
    height: 0.6rem;
    line-height: 0.6rem;
    font-size: 0.18rem;
    border-bottom: 0.01rem solid #5B6161;
    background-color: rgba(255,255,255,.65);
}
.list-emp .curr {
    background-color: #fff;
}
.list-emp li .icon-touxiang {
    margin-right: 0.3rem;
}
.list-emp .curr .icon-touxiang {
    background-image: url(../../../res/img/icon/19.png);
}