/**
 * @fileview bg
 * @author 若何
 * @date 2015/1/20
 */

.bg,
.bg02,
.bg03,
.bg04,
.bg05,
.bg06 {
	display: block;
	background: transparent url(../../imgs/bg.png) no-repeat scroll 0 0;
	background-size: cover;
}

.bg02 {
	height: calc(98 / 32 * 1rem);
	background-image: url(../../imgs/bg-02.png);
	background-size: 100% 100%;
}

.bg03 {
	background-image: url(../../imgs/bg-03.png);
}

.bg04 {
	background-image: url(../../imgs/bg-04.png);
}

.bg05 {
	background-image: url(../../imgs/bg-05.png);
}

.bg06 {
	background-image: url(../../imgs/bg-06.png);
	background-size: 100% 100%;
}