/**
 * @fileview 卡片
 * @author 若何
 * @date 2015/1/20
 */

.cart {
	display: -webkit-flex;
	display: flex;
	background: transparent url(../../imgs/button-04.png) no-repeat scroll 0 0;
	background-size: 100% 100%;
}
.cart.min {
	width: calc(191 / 32 * 1rem);
	height: calc(178 / 32 * 1rem);
}

.cart img {
	margin: auto;
}

.cart-auto {
	box-shadow: -2px 2px 8px rgba(0,0,0,0.3);
}
.cart-auto,
.cart-auto .inner {
	display: inline-block;
}
.cart-auto .title {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
}
.cart-auto .title div {
	margin: calc(10 / 32 * 1rem) 0;
}
