/**
 * @fileview input
 * @author 若何
 * @date 2015/1/20
 */

.input {
	border: 0;
	width: calc(383 / 32 * 1rem);
	height: calc(71 / 32 * 1rem);
	color: #888;
	padding: 0 calc(20 / 32 * 1rem);
	outline: none;
	background: transparent url(../../imgs/input.png) no-repeat scroll 0 0;
	background-size: 100% 100%;
}
.input.nb {
	border: 0;
	background: none;
}
.input.min {
	background-image: url(../../imgs/input-02.png);
}