/**
 * @fileview arrow
 * @author 若何
 * @date 2015/1/20
 */

.line {
	display: block;
	border: 0;
	margin: 0;
	padding: 0;
	height: calc(4 / 32 * 1rem);
	background: transparent url(../../imgs/hr.png) no-repeat scroll 0 0;
	background-size: 100% 100%;
}
.line.pin {
	height: calc(19 / 32 * 1rem);
	background-image: url(../../imgs/hr-02.png);
}