/**
 * @fileview radio
 * @author 若何
 * @date 2015/1/20
 */

.radio {
	border: 0;
	width: calc(36 / 32 * 1rem);
	height: calc(36 / 32 * 1rem);
	background: transparent url(../../imgs/radio-02.png) no-repeat scroll 0 0;
	background-size: 100% 100%;
	outline: none;
	-webkit-appearance: none;
	   -moz-appearance: none;
	    -ms-appearance: none;
}

.radio:checked {
	background-image: url(../../imgs/radio.png);
}