/**
 * @fileview symbol
 * @author 若何
 * @date 2015/1/20
 */

.arrow-left:before {
	display: inline-block;
	content: "\0020";
	width: calc(21 / 32 * 1rem);
	height: calc(32 / 32 * 1rem);
	margin-right: calc(10 / 32 * 1rem);
	vertical-align: text-bottom;
	background: transparent url(../../imgs/arrow-left-02.png) no-repeat scroll 0 0;
	background-size: 100% 100%;
}

.ellipsis {
	display: inline-block;
	content: "\0020";
	width: calc(38 / 32 * 1rem);
	height: calc(9 / 32 * 1rem);
	vertical-align: middle;
	background: transparent url(../../imgs/ellipsis.png) no-repeat scroll 0 0;
	background-size: 100% 100%;
}