/**
 * @fileview symbol
 * @author 若何
 * @date 2015/1/20
 */

.arrow-left:before {
	display: inline-block;
	content: "\0020";
	width: calc(21 / 32 * 1rem);
	height: calc(32 / 32 * 1rem);
	margin-right: calc(10 / 32 * 1rem);
	vertical-align: text-top;
	background: transparent url(../../imgs/symbol-arrow-left.png) no-repeat scroll 0 0;
	background-size: 100% 100%;
}

.arrow-right:after {
	display: inline-block;
	content: "\0020";
	width: calc(21 / 32 * 1rem);
	height: calc(32 / 32 * 1rem);
	margin-left: calc(10 / 32 * 1rem);
	vertical-align: text-top;
	background: transparent url(../../imgs/symbol-arrow-right.png) no-repeat scroll right 0;
	background-size: 100% 100%;
}

.ellipsis,
.minus,
.plus {
	display: inline-block;
	content: "\0020";
	vertical-align: middle;
	text-indent: -9999px;
	background: transparent url(../../imgs/ellipsis.png) no-repeat scroll 0 0;
	background-size: 100% 100%;
}
.ellipsis {
	width: calc(38 / 32 * 1rem);
	height: calc(9 / 32 * 1rem);
	background-image: url(../../imgs/ellipsis.png);
}
.minus {
	width: calc(40 / 32 * 1rem);
	height: calc(40 / 32 * 1rem);
	background-image: url(../../imgs/symbol-minus.png);
}
.plus {
	width: calc(40 / 32 * 1rem);
	height: calc(40 / 32 * 1rem);
	background-image: url(../../imgs/symbol-plus.png);
}