<!-- 头部 -->
{{#view('mods/header', {title:'费用详情'})}}

<!-- 内容 -->
<section class="page-main main-enterprise-more-approve-detail">
  <div class="content">
    <ul class="list3">
      <li>
        <span>部门</span>
        <span>汽修车间</span>
      </li>
      <li>
        <span>类型</span>
        <span>保养</span>
      </li>
      <li>
        <span>名称</span>
        <span>测试</span>
      </li>
      <li>
        <span>金额</span>
        <span>1000</span>
      </li>
      <li>
        <span>备注</span>
        <span>的嘎斯嘎斯撒旦噶萨嘎</span>
      </li>
      <li>
        <span>付款日期</span>
        <span>2016-01-06</span>
      </li>
    </ul>

    <div class="action-cloum">
      <a href="javascript:void(0)" class="button">同意</a>
      <a href="javascript:void(0)" class="button button-important">不同意</a>
    </div>
  </div>
</section>

<!-- 底部 -->
{{#view('mods/footer')}}