<!-- 内容 -->
<section class="page-main main-enterprise-more-orders-make">
  <div class="content">
    <!-- 信息 -->
    <ul class="list3">
      <li>
        <span>客户</span>
        <span>丁泉城</span>
      </li>
      <li>
        <span>编码</span>
        <span>30000692</span>
      </li>
    </ul>

    <!-- 表单 -->
    <ul class="forms-list">
      <li class="clearfix">
        <label>项目</label>
        <input type="text" placeholder="请输入..."/>
      </li>
      <li class="clearfix">
        <label>价格</label>
        <input type="text" placeholder="请输入..."/>
      </li>
      <li class="clearfix">
        <label>数量</label>
        <input type="text" placeholder="请输入..."/>
      </li>
    </ul>

    <div class="links">
      <a href="javascript:void(0)" class="button button-link clearfix">
        <span class="left">添中项目</span>
        <span class="right iconfont">&#xe603;</span>
      </a>
      <a href="javascript:void(0)" class="button button-link clearfix">
        <span class="left">生成订单</span>
        <span class="right iconfont">&#xe603;</span>
      </a>
    </div>
  </div>
</section>