<!-- 头部 -->
{{#view('mods/header', {title:'销售开单列表'})}}

<!-- 内容 -->
<section class="page-main main-enterprise-more-orders">
  <div class="content">
    <!-- 查询 -->
    <div class="search">
      <a href="orders-search.html" class="button button-search clearfix">
        <span class="left">条件查询</span>
        <span class="right iconfont">&#xe603;</span>
      </a>
    </div>

    <div class="lists">
      <a href="orders-detail.html">
        <ul class="list2">
          <li>
            <span>客户：</span>
            <span>刘大山</span>
          </li>
          <li>
            <span>编码：</span>
            <span>30000786</span>
          </li>
          <li>
            <span>总价：</span>
            <span>546元</span>
          </li>
        </ul>
      </a>
      <a href="orders-detail.html">
        <ul class="list2">
          <li>
            <span>客户：</span>
            <span>刘大山</span>
          </li>
          <li>
            <span>编码：</span>
            <span>30000786</span>
          </li>
          <li>
            <span>总价：</span>
            <span>546元</span>
          </li>
        </ul>
      </a>
    </div>
  </div>
</section>