<!-- 头部 -->
{{#view('mods/header', {title:'订单详情'})}}

<!-- 内容 -->
<section class="page-main main-enterprise-more-orders-detail">
  <div class="content">
    <ul class="list3">
      <li>
        <span>客户</span>
        <span>丁泉城</span>
      </li>
      <li>
        <span>编码</span>
        <span>30000692</span>
      </li>
    </ul>

    <div class="table">
      <table>
        <colgroup>
          <col class="col-1"/>
          <col class="col-2"/>
          <col class="col-3"/>
        </colgroup>
        <thead>
          <th>项目</th>
          <th>数量/件</th>
          <th>价格/元</th>
        </thead>
        <tbody>
          <tr>
            <td>四轮定位</td>
            <td>1</td>
            <td>1000</td>
          </tr>
          <tr>
            <td>补胎</td>
            <td>1</td>
            <td>781</td>
          </tr>
          <tr>
            <td>洗车</td>
            <td>1</td>
            <td>15</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="action">
      <a href="javascript:void(0)" class="button">接车</a>
    </div>
  </div>
</section>

<!-- 底部 -->
{{#view('mods/footer')}}