<!-- 头部 -->
{{#view('mods/header', {title:'订单查询'})}}

<!-- 内容 -->
<section class="page-main main-enterprise-orders-search">
  <div class="content">
    <!-- 表单 -->
    <ul class="forms-list">
      <li class="clearfix">
        <label>姓名</label>
        <input type="text" placeholder=""/>
      </li>
      <li class="clearfix">
        <label>车牌号</label>
        <input type="text" placeholder=""/>
      </li>
      <li class="clearfix">
        <label>开始时间</label>
        <input type="text" placeholder=""/>
      </li>
      <li class="clearfix">
        <label>结束时间</label>
        <input type="text" placeholder=""/>
      </li>
    </ul>

    <!-- action -->
    <div class="action">
      <a href="orders.html" class="button">查询</a>
    </div>
  </div>
</section>

<!-- 底部 -->
{{#view('mods/footer')}}