<!-- 头部 -->
{{#view('mods/header', {title:'用户权限分配'})}}

<!-- 内容 -->
<section class="page-main main-enterprise-more-permission">
  <div class="content">
    <div class="lists">
      <a href="permission-assign.html">
        <ul class="list2">
          <li>
            <span>客户：</span>
            <span>刘大山</span>
          </li>
          <li>
            <span>权限：</span>
            <span>未分配</span>
          </li>
        </ul>
      </a>
      <a href="permission-assign.html">
        <ul class="list2 assigned">
          <li>
            <span>客户：</span>
            <span>刘大山</span>
          </li>
          <li>
            <span>权限：</span>
            <span class="text-stress">汽修工</span>
          </li>
        </ul>
      </a>
    </div>
  </div>
</section>