<!-- 内容 -->
<section class="page-main main-enterprise-more-permission-assign">
  <div class="content">
    <ul class="forms-list2">
      <li class="clearfix">
        <label>姓名：</label>
        <span>丁泉城</span>
      </li>
      <li class="clearfix">
        <label>类型：</label>
        <span class="forms-select">
          <span>未分配</span>
          <img src="../../../res/img/icon/26.png"/>
        </span>
      </li>
    </ul>

    <div class="action">
      <a href="javascript:void(0)" class="button button-important">设置</a>
    </div>
  </div>
</section>