/**
 * @fileview 站点css
 * @author 若何
 * @date 2015/1/20
 */

html,
body,
#root {
	height: 100%;
}

/* 绝对定位布局 */
#root {
	position: relative;
}
#header,
#footer,
#content {
	position: absolute;
	width: 100%;
}
#header,
#footer {
	z-index: 2;
}
#header {
	top: 0;
	left: 0;
}
#footer {
	bottom: 0;
	left: 0;
}
#content {
	left: 0;
	right: 0;
	top: 2.75rem;
	bottom: 3.0625rem;
	overflow-x: hidden;
	overflow-y: auto;
}
#content.nofooter {
	bottom: 0;
}
#content.noheader {
	top: 0;
	bottom: 0;
}

#float {
	position: absolute;
	z-index: 100;
	width: 100%;
	height: 100%;
}

#footer.footer > .content {
	display: -webkit-flex;
	display: flex;
	height: 100%;
}
#footer.footer > .content .button {
	height: 2.375rem;
	line-height: 2.1875rem;
	margin: auto 0.625rem;
	-webkit-flex: 1;
	        flex: 1;
}
#footer.footer > .content .button:first-child {
	margin-left: 1.25rem;
}
#footer.footer > .content .button:last-child {
	margin-right: 1.875rem;
}
#footer.footer > .content .button:only-child {
	-webkit-flex: none;
	        flex: none;
	margin: auto;
	width: 55%;
}

a {
	text-decoration: none;
}

.clearfix {
	zoom: 1;
}
.clearfix:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	overflow: hidden;
}
