/**
 * @fileview 站点css
 * @author 若何
 * @date 2015/1/20
 */

html,
body,
#root {
	height: 100%;
}

/* 绝对定位布局 */
#root {
	position: relative;
}
#header,
#footer,
#content {
	position: absolute;
	width: 100%;
}
#header,
#footer {
	z-index: 2;
}
#header {
	top: 0;
	left: 0;
}
#footer {
	bottom: 0;
	left: 0;
}
#content {
	top: calc(88 / 32 * 1rem);
	left: 0;
	height: calc(100% - 2.75rem - 3.0625rem);
	overflow-x: hidden;
	overflow-y: auto;
}
#content.nofooter {
	height: calc(100% - 2.75rem);
}
#content.noheader {
	top: 0;
	height: calc(100% - 3.0625rem);
}

#float {
	position: absolute;
	z-index: 100;
	width: 100%;
	height: 100%;
}

#footer.footer > .content {
	display: -webkit-flex;
	display: flex;
	height: 100%;
}
#footer.footer > .content .button {
	height: calc(76 / 32 * 1rem);
	line-height: calc(70 / 32 * 1rem);
	flex: 1;
	margin: auto calc(20 / 32 * 1rem);;
}
#footer.footer > .content .button:first-child {
	margin-left: calc(40 / 32 * 1rem);;
}
#footer.footer > .content .button:last-child {
	margin-right: calc(60 / 32 * 1rem);;
}
#footer.footer > .content .button:only-child {
	flex: none;
	margin: auto;
	width: 55%;
}

a {
	text-decoration: none;
}

.clearfix {
	zoom: 1;
}
.clearfix:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	overflow: hidden;
}
