*, *:before, *:after {
    /* 设置元素的盒模型为border-box */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* chrome不再支持下面的属性。移动端Safari横屏时禁止字体放大 */
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    /* 去除点击元素后的高亮效果 */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* 去除元素周围的虚线 */
*:focus {
    outline: none;
}

html {
    font-size: 625%; /* 相当于100px，方便计算，浏览器默认字体为16px */
    color: #333;
    background-color: #edf0f5;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
}

body {
    position: relative;
    font: 14px/1.5 arial,tahoma,sans-serif,"\5B8B\4F53";
}
@media all and (max-width: 320px) {
    body {
        font-size: 12px;
    }
}

ul,ol,dl,dd {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6,
p {
    margin: 0;
    font-weight: normal;
}
em,
strong {
    font-style: normal;
    font-weight: normal;
}

button,
input,
select,
textarea {
    font-size: 100%;
    font-family: inherit;
}

input::-webkit-input-placeholder,
input::-moz-placeholder,
input::-ms-input-placeholder,
textarea::-webkit-input-placeholder,
textarea::-moz-placeholder,
textarea::-ms-input-placeholder {
    color: #ccc;
}

input[type="checkbox"],
input[type="radio"] {
    vertical-align: middle;
}

a {
    color: #333;
    text-decoration: none;
    cursor: pointer;
}

.clearfix {
    zoom: 1;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.hide {
    display: none!important;
}
.vhide {
    visibility: hidden!important;
}

.left {
    float: left;
}
.right {
    float: right;
}

.empty-tips {
    margin: 0.1rem 0;
    padding: 0.15rem 0.2rem;
    text-align: center;
}

.unselect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/**
 * <span class="cny">&yen;</span>
 */
.cny {
    font-family: arial, Helvetica;
}

.page-main {
    padding-top: 0.5rem;
    padding-bottom: 0.6rem;
}

.nofooter .page-main {
    padding-bottom: 0;
    margin-bottom: 0.2rem;
}
