/**
 * @author jun.yj
 * @email god.yangjun@gmail.com
 * @date 15/12/15
 */

.list li .label {
    width: 29%;
}
.list li .text {
    width: 71%;
}

.main-enterprise-order {
    min-height: 6rem;
}
.main-enterprise-order .search {
    padding: 0 0.2rem;
    margin-top: 0.2rem;
}
.main-enterprise-order .search .button-search {
    width: 100%;
}
.main-enterprise-order .search .left {
    margin-left: 0.1rem;
}
.main-enterprise-order .search .iconfont {
    margin-right: 0.2rem;
}
