<!-- 头部 -->
{{#view('mods/header', {title:'项目选择'})}}

<!-- 内容 -->
<section class="page-main main-enterprise-reception-options bg03">
  <div class="content">
    <!-- 列表 -->
    <fieldset class="list-set">
      <legend>推荐</legend>
      <ul>
        <li><span class="color-1">四轮定位</span></li>
        <li><span class="color-2">换刹车片</span></li>
        <li><span class="color-3">气门清洗</span></li>
      </ul>
    </fieldset>

    <fieldset class="list-set">
      <legend>其他</legend>
      <ul>
        <li><span>美容</span></li>
        <li><span>装潢</span></li>
        <li><span>&nbsp;</span></li>
        <li><span>&nbsp;</span></li>
        <li><span>&nbsp;</span></li>
        <li><span>&nbsp;</span></li>
        <li><span>&nbsp;</span></li>
        <li><span>&nbsp;</span></li>
        <li><span>&nbsp;</span></li>
        <li><span>&nbsp;</span></li>
        <li><span>&nbsp;</span></li>
        <li><span>&nbsp;</span></li>
      </ul>
    </fieldset>

    <div class="action">
      <a href="dispatch.html" class="button">发派工人</a>
    </div>
  </div>
</section>

<!-- 底部 -->
{{#view('mods/footer')}}