/**
 * @author jun.yj
 * @since 2015/8/4
 */

.button {
    display: inline-block;
    min-width: 0.5rem;
    height: 0.32rem;
    line-height: 0.3rem;
    padding: 0 0.1rem;
    color: #4471bc;
    text-align: center;
    border: 0.01rem solid #4471bc;
    background-color: #fff;
    border-radius: 0.05rem;
}
.button-stress {
    color: #fff;
    border-color: #0077ee;
    background-color: #0077ee;
}
.button-important {
    color: #fff;
    border-color: #ff7300;
    background-color: #ff7300;
}
.button-lesser {
    color: #888;
    border-color: #ddd;
}
.button-disabled {
    color: #ccc;
    border-color: #ddd;
}

.button-buy-highs {
    color: #fff;
    border-color: #d0402d;
    background-color: #f05a3c;
}
.button-buy-lows {
    color: #fff;
    border-color: #17b03e;
    background-color: #17b03e;
}