/**
 * @author jun.yj
 * @since 2015/8/4
 */

.button {
    display: inline-block;
    min-width: 0.5rem;
    height: 0.32rem;
    line-height: 0.32rem;
    padding: 0 0.1rem;
    color: #4471bc;
    text-align: center;
    border: 0.01rem solid #4471bc;
    background-color: #fff;
    border-radius: 0.05rem;
}
.button-stress {
    color: #fff;
    background-color: #4471bc;
}
.button-important {
    color: #fff;
    background-color: #ff7300;
}
.button-lesser {
    color: #888;
    border-color: #d8d8d8;
}
.button-disabled {
    color: #ccc;
    border-color: #d8d8d8;
}
