/**
 * @author jun.yj
 * @since 2015/8/4
 */

.button {
    display: inline-block;
    width: 2.02rem;
    height: 0.54rem;
    line-height: 0.54rem;
    color: #fff;
    font-size: 0.16rem;
    text-align: center;
    background-color: #5db1ff;
    border-radius: 0.05rem;
    box-shadow: 0 0 0.02rem #5db1ff;
}
.button:hover {
	color: #fff;
    background-color: #5badf9;
}
