/**
 * @author jun.yj
 * @since 2015/8/4
 */

.page-footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
	height: 0.6rem;
    border-top: 0.01rem solid #ddd;
}
.page-footer .content {
    height: 100%;
    background-color: #f5f6f8;
}
.page-footer ul {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
}
.page-footer li {
    text-align: center;
    -webkit-box-flex: 1;
        -webkit-flex: 1;
                flex: 1;
}
.page-footer .img {
    height: 0.3rem;
    width: 0.3rem;
    color: #ccc;
    font-size: 0.24rem;
}
.page-footer a {
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
}
.page-footer a span {
    display: block;
}

.page-home .page-footer .home .img,
.page-trade .page-footer .trade .img,
.page-hero .page-footer .hero .img,
.page-mine .page-footer .mine .img {
    color: #4471bc;
}
