/**
 * @author jun.yj
 * @since 2015/8/4
 */

.doc > header {
	position: fixed;
	top: 0;
	z-index: 100;
	width: 100%;
	height: 0.5rem;
	color: #fff;
	background-color: #4471bc;
}
.doc > header h3 {
	font-size: 0.18rem;
	line-height: 0.5rem;
	text-align: center;
}
.doc > header .left {
	margin-left: 0.2rem;
}
.doc > header .right {
	margin-right: 0.2rem;
}
.doc > header .left,
.doc > header .right {
	margin-top: -0.5rem;
	height: 0.5rem;
	line-height: 0.5rem;
	color: #fff;
	font-size: 0.14rem;
}
.doc > header a {
	color: #fff;
}
.doc > header .iconfont {
	font-size: 0.28rem;
}
.doc > header .dropdown {
	margin-left: 0.05rem;
	font-size: 0.16rem;
	font-weight: bold;
	vertical-align: top;
}
