/**
 * @author jun.yj
 * @since 2015/8/4
 */

.icon-arrow-left {

}
.icon-arrow-right {
    display: inline-block;
    width: 0.08rem;
    height: 0.14rem;
    color: #ccc;
    background: transparent url(../../imgs/icon/arrow-right.png) no-repeat scroll 0 0;
    background-size: contain;
}

.icon-unread {
    position: relative;
    left: 0.02rem;
    top: -0.02rem;
    display: inline-block;
    width: 0.16rem;
    height: 0.16rem;
    line-height: 0.16rem;
    overflow: hidden;
    color: #fff;
    text-align: center;
    background-color: red;
    border-radius: 100%;
}
