/**
 * @author jun.yj
 * @since 2015/8/4
 */

.icon-arrow-left,
.icon-arrow-right {
    display: inline-block;
    width: 0;
    overflow: hidden;
    border: 0.08rem solid #d8d8d8;
    border-bottom: 0;
    border-left-color: transparent;
    border-right-color: transparent;
}
.icon-arrow-left {
    transform: rotate(90deg);
}
.icon-arrow-right {
    transform: rotate(-90deg);
}

.icon-unread {
    position: relative;
    left: 0.02rem;
    top: -0.02rem;
    display: inline-block;
    width: 0.16rem;
    height: 0.16rem;
    line-height: 0.16rem;
    overflow: hidden;
    color: #fff;
    text-align: center;
    background-color: red;
    border-radius: 100%;
}

.icon-top1,
.icon-top2,
.icon-top3 {
    display: inline-block;
    width: 0.16rem;
    height: 0.16rem;
    vertical-align: middle;
    background: transparent url(../../imgs/icon/top1.png) no-repeat scroll 0 0;
    background-size: contain;
}
.icon-top2 {
    background-image: url(../../imgs/icon/top2.png);
}
.icon-top3 {
    background-image: url(../../imgs/icon/top3.png);
}
