/**
 * @author jun.yj
 * @since 2015/8/4
 */

.overlay,
.overlay-top {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99;
	background-color: rgba(0,0,0,.3);
	-webkit-transform: translateZ(0);
			transform: translateZ(0);
}
.overlay-top {
	z-index: 101;
}
