/**
 * @author jun.yj
 * @since 2015/8/4
 */

.panel {
    margin: 0.1rem 0;
    padding: 0.15rem 0.2rem;
    border-top: 0.01rem solid #d8d8d8;
    border-bottom: 0.01rem solid #d8d8d8;
    background-color: #fff;
}