/**
 * @author jun.yj
 * @since 2015/8/4
 */

.panel {
    margin: 0.1rem 0;
    padding: 0.15rem 0.2rem;
    border-top: 0.01rem solid #e5e5e5;
    border-bottom: 0.01rem solid #e5e5e5;
    background-color: #fff;
}

hr,
.line {
    border: 0;
    padding: 0;
    height: 0.01rem;
    overflow: hidden;
    background-color: #e5e5e5;
}
