/**
 * @author jun.yj
 * @since 2015/8/4
 */

.text-lesser {
    color: #999;
}
.text-stress {
    color: #ff7300;
}
.text-warning {
    color: #e31000;
}
.text-highs {
    color: #d0402d;
}
.text-lows {
    color: #17b03e;
}

.text-s {
    font-size: 0.12rem;
    font-style: normal;
}
.text-m {
    font-size: 0.16rem;
    font-style: normal;
}
.text-xm {
    font-size: 0.18rem;
    font-style: normal;
}
.text-l {
    font-size: 0.2rem;
    font-style: normal;
}
.text-xl {
    font-size: 0.26rem;
    font-style: normal;
}
.text-xxl {
    font-size: 0.32rem;
    font-style: normal;
}
