/**
 * @author jun.yj
 * @email god.yangjun@gmail.com
 * @date 15/12/15
 */

.main-enterprise-management .lists > a {
    display: block;
}

.page-main .search {
    padding: 0 0.2rem;
    margin-top: 0.2rem;
}
.page-main .search .button-search {
    width: 100%;
}
.page-main .search .left {
    margin-left: 0.1rem;
}
.page-main .search .iconfont {
    margin-right: 0.2rem;
}