/**
 * @fileview 
 * @author 若何
 * @date 2015/1/20
 */

@import url(../../global/global.css);
@import url(../../global/site.css);

@import url(../../mod/caption.css);
@import url(../../mod/list.css);

.mod-caption,
.mod-receipt {
	padding: 0 calc(20 / 32 * 1rem);
}

.mod-caption .name {
	color: #efefef;
}

.mod-goods  {
	height: calc(175 / 32 * 1rem);
	padding-top: calc(30 / 32 * 1rem);
	padding-left: calc(30 / 32 * 1rem);
	margin: 0 calc(20 / 32 * 1rem);
	margin-top: calc(40 / 32 * 1rem);
}
.mod-goods img {
	float: left;
	margin-right: calc(20 / 32 * 1rem);
}
.mod-goods div:nth-child(2n) {
	margin: calc(15 / 32 * 1rem);
}

.mod-receipt .list {
	margin-top: calc(40 / 32 * 1rem);
	color: #ccc;
}
.mod-receipt .item {
	padding-left: calc(15 / 32 * 1rem);
}
.mod-receipt .item label span {
	display: inline-block;
	width: calc(130 / 32 * 1rem);;
}
.mod-receipt .inp-captcha {
	width: calc(276 / 32 * 1rem);;
}
.mod-receipt .captcha {
	float: right;
	width: calc(200 / 32 * 1rem);
	height: calc(86 / 32 * 1rem);
	line-height: calc(86 / 32 * 1rem);
}
.mod-receipt .captcha img {
	width: 50%;
	height: 50%;
	vertical-align: middle;
}

.mod-receipt .input {
	border: 0;
	background: none;
}
