/**
 * @author jun.yj
 * @since 2015/8/4
 */

.button {
    display: inline-block;
    width: 202px;
    height: 54px;
    line-height: 54px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    background-color: #5db1ff;
    border-radius: 5px;
    box-shadow: 0 0 2px #5db1ff;
}
.button:hover {
	color: #fff;
    background-color: #5badf9;
}
