/**
 * @author jun.yj
 * @since 2015/8/4
 */

.doc > footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
	height: 3.75rem;
    padding: 0.0625rem;
    border-top: 0.0625rem solid #ccc;
}
.doc > footer .content {
    height: 100%;
    background-color: #f5f6f8;
}
.doc > footer ul {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
         -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
              -ms-flex-pack: center;
            justify-content: center;
}
.doc > footer li {
    text-align: center;
    -webkit-box-flex: 1;
        -webkit-flex: 1;
            -ms-flex: 1;
                flex: 1;
}
.doc > footer img {
    height: 1.875rem;
    width: 1.875rem;
    border: 0;
    background-color: #ccc;
}
.doc > footer a {
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
}
.doc > footer a span {
    display: block;
}
