/**
 * @author jun.yj
 * @since 2015/8/4
 */

.doc > footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
	height: 3.75rem;
    padding: 0.0625rem;
    border-top: 0.0625rem solid #ccc;
}
.doc > footer .content {
    height: 100%;
    background-color: #f5f6f8;
}
.doc > footer ul {
    display: -webkit-flex;
    display: flex;
    height: 100%;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center;
}
.doc > footer li {
    flex: 1;
    text-align: center;
}
.doc > footer img {
    height: 1.875rem;
    width: 1.875rem;
    border: 0;
    background-color: #ccc;
}
.doc > footer a {
    display: inline-block;
}
.doc > footer a span {
    display: block;
}
