/**
 * @author jun.yj
 * @since 2015/8/4
 */

.doc > header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 3.125rem;
	color: #fff;
	background-color: #4471bc;
}
.doc > header h3 {
	line-height: 3.125rem;
	text-align: center;
}
.doc > header .left {
	margin-left: 0.9375rem;
}
.doc > header .right {
	margin-right: 0.9375rem;
}
.doc > header .left,
.doc > header .right {
	color: #fff;
	margin-top: -2.1875rem;
}
.doc > header a {
	color: #fff;
}

.doc > header .unread {
	position: relative;
	left: 0.125rem;
	top: -0.125rem;
	display: inline-block;
	width: 1rem;
	height: 1rem;
	line-height: 1rem;
	overflow: hidden;
	color: #fff;
	text-align: center;
	background-color: red;
	border-radius: 100%;
}
