/**
 * @author jun.yj
 * @since 2015/8/4
 */

.doc > header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 0.5rem;
	color: #fff;
	background-color: #4471bc;
}
.doc > header h3 {
	line-height: 0.5rem;
	text-align: center;
}
.doc > header .left {
	margin-left: 0.15rem;
}
.doc > header .right {
	margin-right: 0.15rem;
}
.doc > header .left,
.doc > header .right {
	color: #fff;
	margin-top: -0.35rem;
}
.doc > header a {
	color: #fff;
}
