/**
 * @author jun.yj
 * @since 2015/8/4
 */

.arrow-left {

}

.unread {
    position: relative;
    left: 0.125rem;
    top: -0.125rem;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    overflow: hidden;
    color: #fff;
    text-align: center;
    background-color: red;
    border-radius: 100%;
}
